$cor-padrao: #1867c0;
$cinza-escuro: #444;
$verde-claro: #4caf50; 
$vermelho: #f44336;
$vermelho-escuro: #b71c1c; 
$azul-claro: #2196f3; 
$amarelo:#ff9800 ;
$verde-escuro:#1b5e20 ;
$roxo:#4a148c;
$roxo-claro:#9c27b0;
$azul-escuro: #0d47a1;

