* {
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-rows: 140px 1fr 60px;
  grid-template-columns: 1fr;
  grid-template-areas: "cabecalho" "principal" "rodape";
}

.cabecalho {
  grid-area: cabecalho;
  background-color: #1867c0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 0.75);
}
.cabecalho h1 {
  margin: 0px;
  font-weight: 300;
  font-size: 2.8rem;
}
.cabecalho h2 {
  margin: 0px;
  font-weight: 200;
}

.principal {
  grid-area: principal;
  height: calc(100vh - 180px);
  background-color: #f0f0f0;
}
.principal__conteudo {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
}

.rodape {
  grid-area: rodape;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
  padding: 0 20px;
  color: #444;
}

img {
  display: block;
  max-width: 100%;
}

.verde-claro {
  background-color: #4caf50 !important;
}

.verde-claro-borda {
  border: solid 2px #4caf50;
}

.roxo {
  background-color: #4a148c !important;
}

.roxo-borda {
  border: solid 2px #4a148c;
}

.amarelo {
  background-color: #ff9800 !important;
}

.amarelo-borda {
  border: solid 2px #ff9800;
}

.verde-escuro {
  background-color: #1b5e20 !important;
}

.verde-escuro-borda {
  border: solid 2px #1b5e20;
}

.azul-escuro {
  background-color: #0d47a1 !important;
}

.azul-escuro-borda {
  border: solid 2px #0d47a1;
}

.vermelho {
  background-color: #f44336 !important;
}

.vermelho-borda {
  border: solid 2px #f44336;
}

.vermelho-escuro {
  background-color: #b71c1c !important;
}

.vermelho-escuro-borda {
  border: solid 2px #b71c1c;
}

.azul-claro {
  background-color: #2196f3 !important;
}

.azul-claro-borda {
  border: solid 2px #2196f3;
}

.roxo-claro {
  background-color: #9c27b0 !important;
}

.roxo-claro-borda {
  border: solid 2px #9c27b0;
}

.modulos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.modulos__modulo {
  flex-basis: 32%;
  margin-bottom: 20px;
  border-radius: 5px;
}
.modulos__modulo h3 {
  margin: 0px;
  color: #fff;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: #1867c0;
}
.modulos__modulo ul {
  margin: 0px;
  padding: 10px;
  list-style: none;
}
.modulos__modulo ul li {
  padding: 7px;
  font-size: 1.2rem;
  cursor: pointer;
}
.modulos__modulo ul li:hover {
  background-color: #eee;
}
.modulos__modulo ul li a {
  color: #444;
  text-decoration: none;
}
