* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 140px 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "cabecalho"
    "principal"
    "rodape";
}

.cabecalho {
    grid-area: cabecalho;
    background-color: #1867c0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    // z-index: 1;
    box-shadow: 0px 4px 9px -2px rgba(0,0,0,0.75);
 
    h1 {
        margin: 0px;
        font-weight: 300;
        font-size: 2.8rem;
    }

    h2 {
        margin: 0px;
        font-weight: 200;
    }
}

.principal {
    grid-area: principal;
    height: calc(100vh - 180px);
    background-color: #f0f0f0;
    // padding: 20px;

    &__conteudo {
        position: relative;
        height: 100%;
        overflow-y: scroll;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
    }

}

.rodape { 
    grid-area: rodape;
    // position: sticky;
    // bottom: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 20px;
    color: #444;
}

img {
    display: block;
    max-width: 100%;
}

// Criar um Mixin
.verde-claro {
    background-color: $verde-claro !important;
}
.verde-claro-borda {
    border: solid 2px $verde-claro;
}
.roxo {
    background-color: $roxo !important;
}
.roxo-borda {
    border: solid 2px $roxo;
}
.amarelo {
    background-color: $amarelo !important;
}
.amarelo-borda {
    border: solid 2px $amarelo;
}
.verde-escuro {
    background-color: $verde-escuro !important;
}
.verde-escuro-borda {
    border: solid 2px $verde-escuro;
}
.azul-escuro {
    background-color: $azul-escuro !important;
}
.azul-escuro-borda {
    border: solid 2px $azul-escuro;
}
.vermelho {
    background-color: $vermelho !important;
}
.vermelho-borda {
    border: solid 2px $vermelho;
}
.vermelho-escuro {
    background-color: $vermelho-escuro !important;
}
.vermelho-escuro-borda {
    border: solid 2px $vermelho-escuro;
}
.azul-claro {
    background-color: $azul-claro !important;
}
.azul-claro-borda {
    border: solid 2px $azul-claro;
}
.roxo-claro {
    background-color: $roxo-claro !important;
}
.roxo-claro-borda {
    border: solid 2px $roxo-claro;
}