.modulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__modulo {
        flex-basis: 32%;
        margin-bottom: 20px;
        border-radius: 5px;

        h3 {
            margin: 0px;
            color: #fff;
            font-weight: 300;
            font-size: 1.5rem;
            padding: 10px 20px;
            background-color: $cor-padrao;
        }

        ul {
            margin: 0px;
            padding: 10px;
            list-style: none;

            li {
                padding: 7px;
                font-size: 1.2rem;
                cursor: pointer;

                &:hover {
                    background-color: #eee;
                }

                a {
                    color: #444;
                    text-decoration: none;
                }
            }
        }
    }
}